*{
    /* border: 1px dotted gray; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    margin:0;
    align-items:center;
}

.header{
    background-color: #1f2937;
    width: 900px;
}

.header-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:900px;

}

.header-logo{
    padding: 16px;
    font-size: 24px;
    color:#f9faf8;
}

.header .container{
    padding:16px;
}

.header a{
    text-decoration: none;
    color:#e5e7eb;
    margin:0 8px;
}

.maincontents{
    width: 100%;
}

.section.hero{
    background-color:#1f2937;
    width:100%;
}

.hero-container{
    width:900px;
}

.hero-text.primary{
    font-size: 48px;
    font-weight:bolder;
    color:#f9faf8

}

.hero-text.secondary{
    font-size:18px;
    color:#e5e7eb;
    margin-bottom:8px;
}

.hero-container{
    display:flex;
    margin: 100px 0;
}

.hero-container>.image{
    width: 700px;
    height: auto;
    color:#f9faf8;
    background-color:gray;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-left: 50px;
}

button{
    font-weight: bold;
    background-color: #3882f6;
    color:#f9faf8;
    padding:8px 18px;
    border-radius: 8px;
    border-width:0;
}

.section{
    width:100%;
    display:flex;
    justify-content: center;
}


.footer{

    margin-top: auto;
}